
body {
font-family: "Poppins", sans-serif;
background-position: center;
background-size: cover;
background-attachment: fixed;
background-image: url("../img/10.png")
}

.carousel-inner .carousel-item {
height: 100vh;
position: relative;
    }


    .carousel-inner .carousel-item img {
        height: 100%;
    object-fit: cover;
    filter: grayscale(0.4);
    }

    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(168, 163, 163, 0.363);
    z-index: 1;
    }
    .overlay h1 {
    font-size: 2.5rem;
    }

    .card img {
    width: 6rem;
    }