
body {
font-family: "Poppins", sans-serif;
background-position: center;
background-size: cover;
background-attachment: fixed;
background-image: url("../img/10.png")
}

.carousel-inner .carousel-item {
height: 100vh;
position: relative;
    }


    .carousel-inner .carousel-item img {
        height: 100%;
    object-fit: cover;
    filter: grayscale(0.4);
    }

    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(168, 163, 163, 0.363);
    z-index: 1;
    }
    .overlay h1 {
    font-size: 2.5rem;
    }

    .card img {
    width: 6rem;
    }

    
body {
font-family: "Poppins", sans-serif;
background-position: center;
background-size: cover;
background-attachment: fixed;
background-image: url("../img/10.png")
}

.carousel-inner .carousel-item {
height: 100vh;
position: relative;
    }


    .carousel-inner .carousel-item img {
        height: 100%;
    object-fit: cover;
    filter: grayscale(0.4);
    }

    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(168, 163, 163, 0.363);
    z-index: 1;
    }
    .overlay h1 {
    font-size: 2.5rem;
    }

    .card img {
    width: 6rem;
    }

        /* ======= COTIZADOR ======= */
    main {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }
    h1 {
    color: #5ecabc;
    text-align: center;
    }
    .info {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
    font-size: 0.95em;
    }
    button {
    background: #5ecabc;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
    }
    button:hover {
    background: #5ecabc;
    }
    .btn-sec {
    background: #ccc;
    color: #222;
    }
    .btn-sec:hover {
    background: #bbb;
    }
    .card form {
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    }













